<div class="grid-container">
    <mat-card class="account-card">
      <mat-card-header>
        <div mat-card-avatar class="account-header-image" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
        <mat-card-title>Tuyen Ha</mat-card-title>
        <mat-card-subtitle>Admin</mat-card-subtitle>
      </mat-card-header>
      <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Display name</h4>
            <p mat-line>Tuyen Ha</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Username</h4>
            <p mat-line>tuyenha</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Password</h4>
            <p mat-line>*****</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Role</h4>
            <p mat-line>admin</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent" routerLink="/profile/form">Edit</button>        
      </mat-card-actions>
    </mat-card>
  </div>