<div class="grid-container">
    <h1 class="mat-h1">Edit Quiz</h1>
  
    <div class="form-container">
      <mat-form-field>
        <textarea matInput placeholder="Question">{{quiz.question}}</textarea>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Answer A" value="{{quiz.answerA}}">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Answer B" value="{{quiz.answerB}}">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Answer C" value="{{quiz.answerC}}">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Answer D" value="{{quiz.answerD}}">
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Right Answer" value="{{quiz.rightAnswer}}" >
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
          <mat-option value="D">D</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Level" value="{{quiz.level}}">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <textarea  matInput placeholder="Explanation (optional)">{{quiz.explanation}}</textarea>
        </mat-form-field>
      <div class="button-row">
        <button mat-stroked-button color="primary">Save</button>
        <button mat-stroked-button routerLink="/quiz">Cancel</button>
      </div>
    </div>