<div class="grid-container">
  <h1 class="mat-h1">Login To Wikibom Admin</h1>
  <div class="form-container">

    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <div class="button-row">
      <button mat-stroked-button color="primary">Login</button>
      <button mat-stroked-button color="accent" routerLink="/register-form">Register Account</button>
    </div>
  </div>