.grid-container {
    margin: 20px;
  }

  table{
      width: 100%;
  }

  .mat-raised-button {
      margin: 0px 10px 10px 0;
  }

  .action-button {
      margin-right: 10px
  }

  .menu-icon {
    padding: 0 14px;
  }
  
  .menu-spacer {
    flex: 1 1 auto;
  }